altair
annotated-types
asn1crypto
attrs
beautifulsoup4
blinker
boto3
botocore
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
dotenv
filelock
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
Jinja2
jmespath
jsonschema
jsonschema-specifications
MarkupSafe
narwhals
numpy
packaging
pandas
pillow
platformdirs
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
PyJWT
pyOpenSSL
pyparsing
python-dateutil
python-dotenv
pytz
referencing
requests
rpds-py
rsa
s3transfer
six
smmap
snowflake-connector-python
sortedcontainers
soupsieve
streamlit
tenacity
toml
tomlkit
tornado
tqdm
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
watchdog
wikipedia
